<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src="http://knockoutjs.com/downloads/knockout-3.2.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>


  <style id="compiled-css" type="text/css">
    body {
      font-family: arial;
      font-size: 14px;
    }

    .liveExample {
      padding: 1em;
      background-color: #EEEEDD;
      border: 1px solid #CCC;
      max-width: 655px;
    }

    .liveExample input {
      font-family: Arial;
    }

    .liveExample b {
      font-weight: bold;
    }

    .liveExample p {
      margin-top: 0.9em;
      margin-bottom: 0.9em;
    }

    .liveExample select[multiple] {
      width: 100%;
      height: 8em;
    }

    .liveExample h2 {
      margin-top: 0.4em;
      font-weight: bold;
      font-size: 1.2em;
    }
  </style>
</head>

<body>
  <div>
    <div id="koLiveExample" class="liveExample the-ko">
      <p>First name: <input data-bind='value: firstName' /></p>
      <p>Last name: <input data-bind='value: lastName' /></p>
      <p>shared: <input data-bind='value: shared' /></p>
      <h2>Hello, <span data-bind='text: fullName, click: reset'> </span> from KO!</h2>
    </div>
    <div id="app2" class="liveExample the-vue">
      <testcomponent :shared.sync="shared" v-on:clk="onClk"></testcomponent>
    </div>
    <button id="btnAlert" value="Alert">Alert</button>
  </div>


  <script>
    //-- KO
    var koVM = (function () {
      var ViewModel = function (first, last) {
        this.firstName = ko.observable(first);
        this.lastName = ko.observable(last);
        this.shared = ko.observable("");

        this.fullName = ko.computed(function () {
          return this.firstName() + " " + this.lastName() + " " + this.shared();
        }, this);

        this.reset = function(){
          this.shared("reset ko");
        };
      };
      var vm = new ViewModel("Planet", "Earth");
      ko.applyBindings(vm);
      return vm;
    })();

    //-- Vue
    // -- vue component
    Vue.component('testcomponent', {
      props: ['shared'],
      data() {
        return {
          firstName: "Planet",
          lastName: "Mars"
        }
      },
      computed: {
        fullName: function () {
          return this.shared + " " + this.firstName + " " + this.lastName;
        },
        sharedValue: {
          get() {
            return this.shared;
          },
          set(val) {
            this.$emit("update:shared", val);
          },
        },
      },
      methods: {
        clk: function () {
          this.$emit("clk", "reset vue")
        }
      },
      template: `
      <div class="liveExample">
        <p>First name: <input v-model="firstName" /></p>
        <p>Last name: <input v-model="lastName" /></p>
        <p>Shared: <input v-model="sharedValue" /></p>
        <h2 v-on:click="clk">Hello, {{fullName}} from Vue!</h2>
      </div>`
    });
    // -- vue app
    var vueApp = (function (eleId) {
      return new Vue({
        el: eleId,
        data: {
          shared: ""
        },
        methods: {
          onClk: function (newVal) {
            this.shared = newVal;
          }
        }
      })
    });
    var vueVM = vueApp("#app2");


    // -- sync
    var modelSync = (function () {
      // -- creates a subscribe/watch connection between ko and vue objects with a matching property
      var syncFields = function (koModel, vueModel, fieldName) {
        // ko -> vue
        koModel[fieldName].subscribe(function (newValue) {
          console.log("ko->vue:" + fieldName + ":" + newValue);
          vueModel[fieldName] = newValue;
        });

        // vue -> ko
        vueModel.$watch(fieldName, function(newValue){
          console.log("vue->ko:" + fieldName + ":" + newValue);
          koModel[fieldName](newValue);
        });
      };
      return {
        syncFields
      }
    })();

    //connect
    modelSync.syncFields(koVM, vueVM, "shared");
  </script>


</body>

</html>